# Visual Studio Code files
.vscode

# Visual Studio files
.vs
*.suo
*.user
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Rr]elease/
[Dd]ebug/

# Rider files
.idea

# User-specific files
*.DotSettings.user

# Other
publish/
csp_database.db


# Paketler
*.nupkg

# Log ve cache
*.log
*.cache

# Test sonuçları
TestResults/

# DevExpress cache
.dx/

# Arşiv dosyaları
*.zip
*.rar