<Project>
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <TargetFramework>net9.0</TargetFramework>
        <RuntimeIdentifier>win-x64</RuntimeIdentifier>
        <SelfContained>true</SelfContained>
        <PublishSingleFile>false</PublishSingleFile>
        <PublishTrimmed>false</PublishTrimmed>
        <OutputPath>publish\csp_project_phase_3_2_1\</OutputPath>
    </PropertyGroup>
</Project>
